[elasticsearch-{{ elasticsearch_yum_version }}]
name=ElasticSearch repository for {{ elasticsearch_yum_version }}.x packages
baseurl=http://packages.elastic.co/elasticsearch/{{ elasticsearch_yum_version }}/centos
gpgcheck=1
gpgkey=http://packages.elastic.co/GPG-KEY-elasticsearch
